window.bar {
}
.clock {
    border-style: solid;
    background-color: @theme_bg_color;
    color: @theme_fg_color;
    min-height: 0;
    padding: 2px 4px 2px 4px;
    border-radius: 10px;
    border-width: 2px;
    border-color: @theme_selected_bg_color;
    font-weight: normal;
}

.client-title {
    border-style: solid;
    background-color: @theme_bg_color;
    color: @theme_fg_color;
    min-height: 0;
    padding: 2px 4px 2px 4px;
    border-radius: 10px;
    border-width: 2px;
    border-color: @theme_selected_bg_color;
    font-weight: normal;
}

/* Buttons */
button {
    background-color: @theme_bg_color;
    color: @theme_fg_color;
    min-height: 0;
    padding: 2px 4px 2px 4px;
    border-radius: 10px;
    border-width: 2px;
    border-color: @theme_selected_bg_color;
}

button:hover {
    background-color: @theme_bg_color;
    background-color: mix(@theme_bg_color, #ffffff, 0.15);
}

button:active,
button.hover:active {
    background-color: @theme_bg_color;
    background-color: mix(@theme_bg_color, #ffffff, 0.3);
}

label {
    font-weight: normal;
}

/* Worspaces buttons */
.workspaces button * {
    padding-left: 7px;
    padding-right: 7px;
}
.workspaces button.focused {
    background-color: @theme_selected_bg_color;
}
.workspaces button.focused {
    font-weight: bold;
    color: @theme_selected_fg_color;
}



.notification {
    color: yellow;
}

.systray {
    border-style: solid;
    background-color: @theme_bg_color;
    color: @theme_fg_color;
    min-height: 0;
    padding: 2px 4px 2px 4px;
    border-radius: 10px;
    border-width: 2px;
    border-color: @theme_selected_bg_color;
    font-weight: normal;
}




levelbar block,
highlight {
    /* min-height: 10px; */
}
